body {
    padding-top: 50px;
}

th.tablesorter-headerAsc { 
    background: #EEE;
} 

th.tablesorter-headerDesc { 
    background: #EEE;
} 

th.tablesorter-header { 
    background-image: url(http://cdn.jsdelivr.net/tablesorter/2.13.3/css/images/ice-unsorted.gif);
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-right: 20px; 
} 
